---
layout: index
title: 七巧 
tagline: Blockchain as a Service Provider
css: 
js: sliders.js
keywords: Blockchain, IPFS, BaaS, 
canonical: https://heliumjk.github.io
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="{{ BASE_PATH }}/assets/images/bchain4.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary"> 七巧 BaaS </span> - 企业级区块链服务平台</h3>
                      <h5 class="slide-text animated fadeIn">快速构建区块链基础设施，提供企业级区块链解决方案。</h5>
                      <a href="#services" class="btn btn-lg btn-default-filled animated fadeInUp">更多</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/bchain2.jpeg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary" >七巧基站</span></h3>
                      <h5 class="slide-text animated fadeIn">全球最优IPFS及区块链存储。</h5>
                      <a href="#trynow" class="btn btn-lg btn-default-filled animated fadeInUp">立即试用</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/bchain3.jpeg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown">七巧企业NAS</h3>
                      <h5 class="slide-text animated fadeIn">七巧节点采用CNFS互联网3.0核心技术。安全，稳定，成本效益高。</h5>
                      <a href="#hardware" class="btn btn-lg btn-default-filled animated fadeInUp">今日接受预定</a>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->
                        
            
      <div class="mb-60"></div>

      <div class="header-style-3">
        <div class="container"><a name="hardware"></a>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="hero-content-v2 center">
                <h3>七巧NAS将为任何业务部门创建一个更高效、更安全、更经济的工作流程，这是通过先进的互联网3.0 CNFS技术和七巧节点实现的。</h3>
                <p>针对数据管理、数据存档、数据的安全性与完整性提供现成的解决方案。</p>
                <p>已加载应用程序、互联网3.0链接、区块链和物联网等。</p>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="service-content">
                  <p class="white">不可变的链接：数据经过加密散列，并可以通过区块链技术轻松链接在一起。</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="service-content">
                  <p class="white">网络弹性：点对点架构可将带宽节省50％以上，并确保快速稳定的连接。</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="service-content">
                  <p class="white">高效的服务器：通过网络上的指纹删除重复项。 与替代品相比可节省50％以上。</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="service-content">
                  <p class="white">不长期档案：寻址数据的内容可确保长期存储和数据完整性。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="hero-content-v2 center">
                <a href="products.html" class="btn btn-lg btn-default-filled animated fadeInUp">今日接受预定</a><br>
                <div class="mb-60"></div>
                <div class="mb-60"></div>
              </div>
            </div>
          </div>
        </div>	
      </div>
	<div id="features" class="container">
	<!-- SERVICES -->
  <div class="mb-60"></div>
            <div class="sub-title"><a name="services"></a>
              <span>七巧服务和技术运用</span>
            </div>
            <div class="row">
              <!-- Start Service Icon 1 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <div class="service-content">
                    <h4>区块链全栈应用程序开发</h4>
                    <p>
                      七巧可以在不同领域的区块链上进行从头到尾的全过程开发。客户将能够更多地关注核心业务功能和战略，同时依靠七巧构建和管理区块链基础设施以及性能。包括资源分配、防黑客分层、带宽管理等安全协议。
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 1 -->

              <!-- Start Service Icon 5 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-flash"></i>
                  </div>
                  <div class="service-content">
                    <h4>智能合约开发和审计</h4>
                    <p>
                      自动执行的数字合约，自动跟踪协议条款，确保每一步都得到确认。当托管在区块链上时，智能合约不能被任何一方更改或干扰，包括两个协议持有人在内。七巧可以为从医疗保健到政府提供自动化、安全性、稳定性和透明度等任何业务部门的任何区块链创建这些合约。
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 5 -->
              
              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-hand-pointer-o"></i>
                  </div>
                  <div class="service-content">
                    <h4>供应链开发</h4>
                    <p>
                      依靠七巧系统的供应链管理方法，提高整个供应链的绩效。在提高利润部分，确保您从供应商获得高质量的产品的同时，节省时间、金钱和人力成本。我们可以定制系统标准以满足您组织的特定需求。
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->

              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cubes"></i>
                  </div>
                  <div class="service-content">
                    <h4>IPFS</h4>
                    <p>
                      星际文件系统（InterPlanetary File System）是永久的、去中心化保存和共享文件的方法，这是一种内容可寻址、版本化、点对点超媒体的分布式协议。七巧提供了IPFS网络的接入节点，并支持通过该节点完成文件的上传和查询等功能。
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 3 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-tachometer"></i>
                  </div>
                  <div class="service-content">
                    <h4>Ethereum</h4>
                    <p>
                      以太坊（Ehereum）是一个基于智能合约的分布式应用平台。七巧提供以太坊测试网络的快速接入功能，并提供基于Remix的IDE，开发者可以在平台内上传智能合约，进行在线编辑，并完成编译、部署和调试等操作。
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 3 -->

              <!-- Start Service Icon 4 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="service-content">
                    <h4>七巧硬件</h4>
                    <p>
                      七巧数据终端（QiQiao Cloud Nodes）内置CNFS云端服务组件，可高效完成分布式、点对点互联组网以提供云级服务。此外，七巧数据终端以开箱即用的形式部署若干常用本地服务，并支持以应用商店形式扩充可用服务。
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 4 -->
            </div>
	    </div>
            <div class="mb-60"></div>
	
	<!-- HEADER -->
      <div class="header-style-3">
        <div class="container"><a name="trynow"></a>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="hero-content-v2">
                <h3><strong>立即探索</strong> 全球最顶尖的IPFS和区块链存储技术</h3>
                <a href="http://cnfs.7qiao.cn:8060/" class="btn btn-lg btn-default-filled animated fadeInUp">立即试用</a><br>
                <div class="mb-60"></div>
                <h3>从今天开始使用七巧构建属于你的区块链应用程序</h3>
                <a href="https://gateway.temporal.cloud/ipns/docs.api.temporal.cloud/ipfs.html" class="btn btn-lg btn-common animated fadeInUp">文档</a>
                <div class="mb-60"></div>
              </div>
            </div>
          </div>
        </div>
      </div>	
  <!-- END HEADER -->
  
  <!-- HEADER -->
  <div class="header-style-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <figure>
            <img src="{{ BASE_PATH }}/assets/images/bg/demoapp.png" alt="">
          </figure>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="hero-content-v2">
            <h3>七巧云是世界首个基于互联网3.0和星际文件系统的微信小程序。</h3>
            <p>启用区块链+和物联网</p>
            <p><i class="fa fa-check"></i> 可信数据<br><i class="fa fa-check"></i> 敏感数据的安全性无可比拟<br><i class="fa fa-check"></i> 专为政府和企业打造<br><i class="fa fa-check"></i> 成本效益高，使用方法简易<br><i class="fa fa-check"></i> 可量身定制</p>
            <p>此应用程序和演示程序完全在互联网3.0 CNFS网络上运行，而不是在HTTP上运行。它运用七巧节点，可以为微信上的任何应用程序定制方案。现有的微信应用程序也可以便捷地插入到CNFS网络中。</p>
            
            <a href="https://ipfs.globalupload.io/QmQeRJx3TRnPEw5oAkdJjFzXicMMUwzGtx2p7BjVXJWQQ9#x-ipfs-companion-no-redirect" class="page-scroll btn btn-lg btn-default-filled">演示按钮</a>
          </div>
          <div class="mb-60"></div>
        </div>
      </div>
    </div>
    
  </div>
<!-- END HEADER -->
            <div class="mb-60"></div>
            
            <div id="counter">
              <div class="container">
                <div class="row count-to-sec">
                  <div class="col-md-3 col-sm-6 count-one">
                    <h3 class="timer count-value" data-to="561" data-speed="1000">互信版权</h3>
                    <hr class="width25-divider">
                    <small class="count-title">提供基于区块链的数据存证解决方案</small>
                  </div>
      
                  <div class="col-md-3 col-sm-6 count-one">
                    <h3 class="timer count-value" data-to="950" data-speed="1000">互信溯源</h3>
                    <hr class="width25-divider">
                    <small class="count-title">商品全路径信息采集、上链与审计</small>
                  </div>
      
                  <div class="col-md-3 col-sm-6 count-one">
                    <h3 class="timer count-value" data-to="6978" data-speed="1000">互信金融</h3>
                    <hr class="width25-divider">
                    <small class="count-title">构建可信的区块链金融网络生态</small>
                  </div>
      
                  <div class="col-md-3 col-sm-6 count-one">
                    <h3 class="timer count-value" data-to="6978" data-speed="1000">互信数据</h3>
                    <hr class="width25-divider">
                    <small class="count-title">基于区块链的数据整合与流转服务</small>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="mb-60"></div>
	
      <div class="container">
        <h4 class="sub-title space-left">七巧优势 - 快速 灵活 安全 易用</h4>
      </div>

      <!-- posts carousel -->
      <section id="blog">
        <div class="container">                              
          <div id="posts-carousel" class="owl-carousel">         
            <div class="blog-block blog block carousel-post">                   
              <img src="{{ BASE_PATH }}/assets/images/bc3.png" alt="">               
              <h5>快速构建区块链网络</h5>
              <p>支持Fabric、Ethereum等主流区块链，秒级创建区块链网络</p>
            </div> 
            <div class="blog-block blog block carousel-post">                   
              <img src="{{ BASE_PATH }}/assets/images/bc5.svg" alt="">                    
              <h5>自由组装高阶技能</h5>
              <p>在区块链基础上灵活扩展DID、Oracle、跨链互操作等技术模组</p>
            </div>
            <div class="blog-block blog block carousel-post">                   
              <img src="{{ BASE_PATH }}/assets/images/bc8.svg" alt="">                    
              <h5>灵活的部署方式</h5>
              <p>支持多链环境的部署，支持公有云、私有云、混合云、跨云等多种部署方式</p>
            </div>
            <div class="blog-block blog block carousel-post">                   
              <img src="{{ BASE_PATH }}/assets/images/bc1.png" alt="">                    
              <h5>动态联盟管理</h5>
              <p>动态扩容，支持联盟链网络中组织、通道和节点的动态管理</p>
            </div> 
            <div class="blog-block blog block carousel-post">                   
              <img src="{{ BASE_PATH }}/assets/images/bc9.svg" alt="">                    
              <h5>安全隐私保护</h5>
              <p>通过权限控制、身份管理、数据隔离、数据加密、零知识证明等方式保护链上信息的数据隐私</p>
            </div>       
            <div class="blog-block blog block carousel-post">                   
              <img src="{{ BASE_PATH }}/assets/images/bc6.svg" alt="">                    
              <h5>可视化与易用性</h5>
              <p>可视化控制平台，区块链应用开发全流程服务支持</p>
            </div> 
          </div> 
        </div>
      </section>
      
      	 
      
	
      <!-- Partners -->
      <div id="features" class="container">
      <div class="container">
        <h4 class="sub-title space-left">合作伙伴</h4>
      </div>
      <div class="row">
        <!-- Start Service Icon 1 -->
        <div class="col-md-12 col-sm-12">
            <img src="{{ BASE_PATH }}/assets/images/partners/Logos.png" alt="">
        </div>
        <!-- End Service Icon 1 -->
    </div>
  </div>    	
	
	
      <div class="mb-60"></div>
      <div class="mb-60"></div>
     
            
            
      <!-- CONTACT FORM -->     
	<div class="container">
	<div class="row">	      
          <div class="col-md-8">
            <a name="contact"></a><h2 class="title-head text-center">联系方式</h2>
            <p class="text-center">七巧科技发布的一款区块链云服务平台产品，旨在帮助开发者快速构建区块链基础设施，提供区块链应用开发、部署、测试和监控的整套解决方案。</p>
            <div class="mb-60"></div>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="名字" required data-error="qǐng shū rù nín de xìng míng">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="电子邮件" required data-error="qǐng shū rù nín de diàn zǐ yóu jiàn">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="主题" required data-error="qǐng shū rù nín de zhǔ tí">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="消息" required data-error="请输入您的消息"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">发送</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">联系信息</h4>
            <div class="contact-info">
              <address>
							<i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
							东莞市清溪镇清樟路与罗马路交汇处北侧
						</address>
              <div class="tel-info">
                <a href="tel:0769-8789 1111"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>0769-8789 1111</a>
              </div>
              <a href="mailto:info@7qiao.cn"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>info@7qiao.cn</a>
              <a href="https://github.com/qiqiaotechnology"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>Github</a>
              {% include social-block.html %}
            </div>
          </div>

        </div>
	</div>

            
            
<!-- Content area end -->
</div>
