---
layout: index
title: 七巧 
tagline: Blockchain as a Service Provider
css: 
js: sliders.js
keywords: Blockchain, IPFS, BaaS, 
canonical: https://heliumjk.github.io
---
{% include JB/setup %}
         
<!-- Content Area Start -->
<div id="content">
  <div class="container">
    <div class="mb-60"></div>
    <div class="row"></div>
      <h2 class="heading-title text-center"><span class="text-primary">产品介绍</span></h2><div class="mb-60"></div>
      <div class="col-md-12 col-sm-12 center">
        <p>七巧的核心产品是CNFS（中国文档系统）和基于CNFS的区块链/Web3.0存储整体解决方案。自主研发的七巧云盒硬件终端，是CNFS的实现载体和整体解决方案的支撑组件。该终端采用先进的“云端共享服务+终端本地服务” 模式， 面向政府/企业提供大数据资源管理与本地应用支撑服务。所谓云端共享服务，是指终端内部署的七巧网络组件，部署在用户端的硬件终端是七巧云的有机组成部分，即“云在家中”。此外，如果用户有需求，亦可部署若干硬件终端组成私有网络及私有链存储。所谓终端本地服务，是指该硬件终端完全胜任本地微型服务器角色，提供大量的本地信息化应用，如网站服务器、邮箱服务器、微信公众号管理后台及共享存储中心等，方便小微企事业用户快速构建自己的信息化中心。</p>
      </div>
    </div>
    <div class="mb-60"></div>
  </div>

  <div class="header-style-3 v5">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="heading-title text-center"><span class="text-primary">核心技术介绍</span><br></h2><div class="mb-60"></div>
          <p class="white">CNFS(China File System) 中国文档系统是基于七巧先前的研究成果创建的，一套内容可寻址/版本化/点对点超媒体的分布式存储/传输协议，它能使网络更快速，更安全，也更低耗，并且显著提高通讯以及存储的效率。CNFS是志在取代HTTP协议的下一代互联网协议。CNFS 是解决在区块链上存储大数据难，数据更新慢，计算功能昂贵等问题的最佳解决构建。传统的区块链在数据存储上面临数据更新慢和存储代价昂贵的问题，造成该问题的本质在于“用计算换信任”的设计思路，CNFS则是区块链数据最合适的存储介质。IPFS允许分布式地存储数据，数据不能被更改和伪造。如果不更改数据标识符，则无法更改存储在IPFS网络上的数据。<br><br>区块链应用领域：<br></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="service-content">
              <p class="white">政府层面：政务系统优化，市场监管，司法信用、公证、互联网法院、基层治理、电子凭证，专款专用，业绩考核，人才选拔</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="service-content">
              <p class="white">市场层面：金融，智能合约，产品溯源，中介，精细化种植，食品安全，物流，海关，版权，知识产权等等</p>
            </div>
          </div><div class="mb-60"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="mb-60"></div>
    <div class="row"></div>
      <h2 class="heading-title text-center"><span class="text-primary">软件产品</span></h2><div class="mb-60"></div>
      <div class="col-md-12 col-sm-12 ">
        <p>七巧云 7qiaocloud.cn： 七巧云结合核心底层技术CNFS, 致力于打造分布式私有云，支持云存储和云计算; 同时，CNFS独特的内容寻址防篡改机制天然地可作为区块链数据的链下存储方案，CNFS也将是BaaS（blockchain as service）区块链开发平台的支撑技术，可用于打造区块链服务云。CNFS基于内容寻址，分布式去中心化的特点使得构建出的七巧云平台具有如下特点：</p>
      </div>
    </div>
    
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p>不可变链接，防文件篡改：如果文件名哈希值（文件指纹）未变化，那么该文件肯定是原始版本，未被篡改。 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p> 高效存储：主动去重机制，相比基于HTTP的云存储模式空间节省达50%以上，更绿色节能，更容易控制存储成本。</p>
          </div>
        </div><div class="mb-60"></div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p>网络弹性：变HTTP中心化星型网络为点对点分布式结构，充分利用网络带宽，传输性能更优更高效。</p>
          </div>
        </div><div class="mb-60"></div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p> 长期档案：基于版本控制演化模式管理文件，完整保留文件修改历史，能确保数据长期存储及数据完整性。</p>
          </div>
        </div><div class="mb-60"></div>
      </div>
    </div>
    <div class="mb-60"></div>

  </div>

  <div class="header-style-3 v5">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="heading-title text-center"><span class="text-primary">七巧云盒介绍</span><br></h2><div class="mb-60"></div>
          <p class="white">七巧硬件终端产品7Qyun系列目前共有有7Qyun-01A和7Qyun-01B两种型号，两种型号在计算能力及存储能力等方面存在若干差异，并可根据用户需求进行定制，充分满足各类型用户的需求。</p>
          <p class="white">本地层面：单台7Qyun终端是“拆箱可用、配置灵活”的微型服务器，可以单台或多台组网的形式，为企事业单位提供——集中数据存储和管理办公文档，结合组织架构，分别为每个部门和项目组生成共享资料的知识库；内置多种信息中心应用构建支持，如企业邮箱，网络建站，微信公众号管理, 强大的新增应用开发支持等。</p>
          <p class="white">云端层面：构筑基于内容寻址的CNFS分布式存储文件系统（平台），让数据访问更快、更安全，并为企事业单位基于CNFS下一代互联网技术构筑应用提供开发支持；用户可自由选择私有组网或加入七巧云网络。</p><br><br>
        </div>
      </div>

    </div>
  </div>
  

  <div class="container">
    <div class="table-style3">
      <div class="sub-title">
        <span></span>
      </div>

      <div class="table-responsive mtb">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>外观</th>
              <th>产品规格</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><img src="{{ BASE_PATH }}/assets/images/7q1b.png" alt=""></td>
              <td> 
                <div class="row text-left">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1颗Intel®Core® i3 8100 主频3.7GHz 3.6GHz 4核/4线程 6MB 65W高效处理器 

                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> Intel H310芯片组 
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 支持1* 1GbE RJ45网口，1*Intel® 802.11ac 无线网络 + BT 4.2 模块 
                      </li>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 8G DDR4 2666 内存，2个DDR4内存插槽，最大支持32G内存
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 120G SATA SSD M.2接口，1* 8T SATA 7200rpm 企业级硬盘(支持热插拔）, 1 *HDMI, 1*DisplayPort，4*USB3.0接口，音频接口  
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><img src="{{ BASE_PATH }}/assets/images/7q1a.png" alt=""></td>
              <td> 
                <div class="row text-left">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1颗Intel®Core® i3 8100 主频3.7GHz 3.6GHz 4核/4线程 6MB 65W高效处理器 
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> Intel H370芯片组 
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 支持1* 1GbE RJ45网口，1*Intel® 802.11ac 无线网络 + BT 4.2 模块 1 *HDMI, 1*DisplayPort，6*USB3.0接口，音频接口 

                      </li>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 8G DDR4 non-ECC UDIMM 内存，2个DDR4内存插槽，最大支持32G内存 

                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 120G SATA SSD M.2接口，1* 8T SATA 7200rpm 企业级硬盘(支持热插拔）
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mb-60"></div>
  <div class="container">
    <div class="row">	      
            <div class="col-md-8">
              <a name="contact"></a><h2 class="title-head text-center">联系方式</h2>
              <p class="text-center">七巧科技发布的一款区块链云服务平台产品，旨在帮助开发者快速构建区块链基础设施，提供区块链应用开发、部署、测试和监控的整套解决方案。</p>
              <div class="mb-60"></div>
              <form class="contact-form" data-toggle="validator">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <i class="contact-icon fa fa-user"></i>
                      <input type="text" class="form-control" id="name" placeholder="名字" required data-error="qǐng shū rù nín de xìng míng">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <i class="contact-icon fa fa-envelope-o"></i>
                      <input type="email" class="form-control" id="email" placeholder="电子邮件" required data-error="qǐng shū rù nín de diàn zǐ yóu jiàn">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <i class="contact-icon fa fa-pencil-square-o"></i>
                      <input type="text" class="form-control" id="subject" placeholder="主题" required data-error="qǐng shū rù nín de zhǔ tí">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea id="message" rows="8" placeholder="消息" required data-error="请输入您的消息"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">发送</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>
  
            <div class="col-md-4">
              <h4 class="contact-info-title">联系信息</h4>
              <div class="contact-info">
                <address>
                <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
                东莞市清溪镇清樟路与罗马路交汇处北侧
              </address>
                <div class="tel-info">
                  <a href="tel:0769-8789 1111"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>0769-8789 1111</a>
                </div>
                <a href="mailto:info@7qiao.cn"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>info@7qiao.cn</a>
                <a href="https://github.com/qiqiaotechnology"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>Github</a>
                {% include social-block.html %}
              </div>
            </div>
  
          </div>
    </div>
</div>
