---
layout: index
title: 七巧 
tagline: Blockchain as a Service Provider
css: 
js: sliders.js
keywords: Blockchain, IPFS, BaaS, 
canonical: https://heliumjk.github.io
---
{% include JB/setup %}
         
<!-- Content Area Start -->
<div id="content">
  <div class="container">
    <div class="mb-60"></div>
    <div class="row"></div>
      <h2 class="heading-title"><span class="text-primary">产品介绍</span></h2><div class="mb-60"></div>
      <div class="col-md-12 col-sm-12">
	      <p>七巧的核心产品是<strong>CNFS（中国文档系统）</strong>和<strong>基于CNFS的区块链/Web3.0存储整体解决方案</strong>。<br>
	      <br>
	      自主研发的<strong>七巧云盒硬件终端</strong>，是CNFS的实现载体和整体解决方案的支撑组件。
	      <br>
	      <br>
	      <font color="blue">七巧产品栈</font>：
	      <ol>

		      <li> (1) 七巧云全功能界面及API <br>
			      <br>&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;用户可以网络界面访问形式使用七巧云分布式区块链存储带来的便利与优惠。<br>
			       <br>&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;同时，七巧云API被设计为插拔式的云上CNFS工具，用户可以按需选择，以API即插即用，快速安全地满足项目存储需求。<br>
		      </li>
		     <br>
		      <li> (2) <strong>本地私有CNFS存储</strong>软硬件全套支持<br>
			       <br>&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;基于七巧硬件终端快速组网构建专用CNFS网络，提供组网及内部网关、API开发等全栈支持，方便用户快速部署针对私有链或联盟链的存储支持。<br>
		      </li>
		     <br>
		      <li> (3) 部署七巧硬件终端并成为七巧云节点 <br>
  <br>&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;用户本地部署七巧硬件终端，接入七巧云成为七巧云节点，即可根据本地部署的七巧硬件终端规格免费享受对应容量的七巧云存储服务。 </br>
		      </li>
		     <br>
		      <li> (4) 区块链开发全栈支持 <br>
			      <br>&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp; 包括但不限于软硬件选型，CNFS/IPFS支持，以太坊/超级账本（Hyperledger）接入，智能合约开发和审计，供应链开发等。<br>
		      </li>
		     <br>
	      </ol>
	      </p>


	      </div>
    </div>
    <div class="mb-60"></div>
  </div>

  <div class="header-style-3 v5">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="heading-title text-center"><span class="text-primary">核心技术介绍</span><br></h2><div class="mb-60"></div>
          <p class="white">CNFS(China File System) 中国文档系统是基于七巧先前的研究成果创建的，一套内容可寻址/版本化/点对点超媒体的分布式存储/传输协议，它能使网络更快速，更安全，也更低耗，并且显著提高通讯以及存储的效率。
	  <br>
	  <br>
	  传统的区块链在数据存储上面临数据更新慢和存储代价昂贵的问题，造成该问题的本质在于“用计算(广播)换信任”的设计思路，CNFS是区块链数据最合适的存储介质。CNFS的<strong>内容寻址</strong>，是通过文件内容生成唯一哈希值来标识文件。如果文件内容不变，其生成的哈希值不会变化；反之，如果哈希值不变，IPFS网络就能根据该哈希值检索出原本的内容，保证其未被篡改。这正是区块链“链上数据存储”变“链下数据存储”需要的特性，无需将数据本身放在链上，只需把对应的哈希值加密存储到区块链中并打上时间戳，有效节省区块链的存储开销及传输开销。
	  <br><br>
	  </p> 
	 <p>
	 <img src="{{BASE_PATH}}/assets/images/storing-hashes-subset-in-blockchain.png" />
	</p> 
	  <p class="white"> 区块链应用领域：<br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="service-content">
              <p class="white">政府层面：政务系统优化，市场监管，司法信用、公证、互联网法院、基层治理、电子凭证，专款专用，业绩考核，人才选拔</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="service-content">
              <p class="white">市场层面：金融，智能合约，产品溯源，中介，精细化种植，食品安全，物流，海关，版权，知识产权等等</p>
            </div>
          </div><div class="mb-60"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="mb-60"></div>
    <div class="row"></div>
      <h2 class="heading-title text-center"><span class="text-primary">七巧云产品特点</span></h2><div class="mb-60"></div>
      <div class="col-md-12 col-sm-12 ">
	      <p>结合<strong>核心底层技术CNFS/IPFS</strong>与安全加固<strong>七巧数据终端</strong>构建的分布式私有云。<br><br>
	      CNFS独特的内容寻址防篡改机制天然地可作为区块链数据的链下存储方案，也是七巧BaaS（blockchain as service）区块链开发平台的核心支撑技术<br><br>
	      
	      基于内容寻址，分布式去中心化的七巧云平台具有如下特点：</p>
      </div>
    </div>
    
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p>不可变链接，防文件篡改：如果文件名哈希值（文件指纹）未变化，那么该文件肯定是原始版本，未被篡改。 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p> 高效存储：主动去重机制，相比基于HTTP的云存储模式空间节省达50%以上，更绿色节能，更容易控制存储成本。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p>网络弹性：变HTTP中心化星型网络为点对点分布式结构，充分利用网络带宽，传输性能更优更高效。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="service-content">
            <p> 长期档案：基于版本控制演化模式管理文件，完整保留文件修改历史，能确保数据长期存储及数据完整性。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-60"></div>

  </div>

  <div class="header-style-3 v5">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="heading-title text-center"><span class="text-primary">七巧云盒硬件终端介绍</span><br></h2><div class="mb-60"></div>
	  <p class="white"> 采用“<strong>云端组件载体+终端本地服务</strong>” 模式:</p>
	  
	  <ul> 
		  <br>
		  <li> <p class="white"> &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;终端内部署的七巧CNFS组件及网络组件，使该终端是分布式组网的有机单元，真正实现“云在家中”。</p></li>
	 	  <br>
	  	 <li> <p class="white"> &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;部署大量的本地信息化应用端, 开箱即用的信息化中心微型服务器(如网站服务器、邮箱服务器、微信公众号管理后台及共享存储中心等，支持用户订制开发)</p> </li>
		  <br> 
        </div>
      </div>

    </div>
  </div>
  

  <div class="container">
    <div class="table-style3">
      <div class="sub-title">
        <span></span>
      </div>

          <p>七巧硬件终端7Qyun系列目前共有7Qyun-01A和7Qyun-01B两种型号，在计算能力及存储能力等方面存在若干差异，并可根据用户需求进行定制，充分满足各类型用户的需求。</p>
      <div class="table-responsive mtb">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>外观</th>
              <th>产品规格</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><img src="{{ BASE_PATH }}/assets/images/7q1b.png" alt=""></td>
              <td> 
                <div class="row text-left">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1颗Intel®Core® i3 8100 主频3.7GHz 3.6GHz 4核/4线程 6MB 65W高效处理器 

                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> Intel H310芯片组 
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 支持1* 1GbE RJ45网口，1*Intel® 802.11ac 无线网络 + BT 4.2 模块 
                      </li>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 8G DDR4 2666 内存，2个DDR4内存插槽，最大支持32G内存
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 120G SATA SSD M.2接口，1* 8T SATA 7200rpm 企业级硬盘(支持热插拔）, 1 *HDMI, 1*DisplayPort，4*USB3.0接口，音频接口  
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><img src="{{ BASE_PATH }}/assets/images/7q1a.png" alt=""></td>
              <td> 
                <div class="row text-left">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1颗Intel®Core® i3 8100 主频3.7GHz 3.6GHz 4核/4线程 6MB 65W高效处理器 
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> Intel H370芯片组 
                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 支持1* 1GbE RJ45网口，1*Intel® 802.11ac 无线网络 + BT 4.2 模块 1 *HDMI, 1*DisplayPort，6*USB3.0接口，音频接口 

                      </li>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="list-style arrow-list arrow-list-four pl-0">
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 8G DDR4 non-ECC UDIMM 内存，2个DDR4内存插槽，最大支持32G内存 

                      </li>
                      <li>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> 整机配置1* 120G SATA SSD M.2接口，1* 8T SATA 7200rpm 企业级硬盘(支持热插拔）
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mb-60"></div>
  <div class="container">
    <div class="row">	      
            <div class="col-md-8">
              <a name="contact"></a><h2 class="title-head text-center">联系方式</h2>
              <p class="text-center">七巧科技发布的一款区块链云服务平台产品，旨在帮助开发者快速构建区块链基础设施，提供区块链应用开发、部署、测试和监控的整套解决方案。</p>
              <div class="mb-60"></div>
              <form class="contact-form" data-toggle="validator">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <i class="contact-icon fa fa-user"></i>
                      <input type="text" class="form-control" id="name" placeholder="名字" required data-error="qǐng shū rù nín de xìng míng">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <i class="contact-icon fa fa-envelope-o"></i>
                      <input type="email" class="form-control" id="email" placeholder="电子邮件" required data-error="qǐng shū rù nín de diàn zǐ yóu jiàn">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <i class="contact-icon fa fa-pencil-square-o"></i>
                      <input type="text" class="form-control" id="subject" placeholder="主题" required data-error="qǐng shū rù nín de zhǔ tí">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea id="message" rows="8" placeholder="消息" required data-error="请输入您的消息"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">发送</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>
  
            <div class="col-md-4">
              <h4 class="contact-info-title">联系信息</h4>
              <div class="contact-info">
                <address>
                <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
                东莞市清溪镇清樟路与罗马路交汇处北侧
              </address>
                <div class="tel-info">
                  <a href="tel:0769-8789 1111"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>0769-8789 1111</a>
                </div>
                <a href="mailto:info@7qiao.cn"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>info@7qiao.cn</a>
                <a href="https://github.com/qiqiaotechnology"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>Github</a>
                {% include social-block.html %}
              </div>
            </div>
  
          </div>
    </div>
</div>
